<div id="<%= dom_id @evento %>">
  <h1><%= @evento.titulo %></h1>
  <p><strong>Descripción:</strong> <%= @evento.descripcion %></p>
  <p><strong>Fecha:</strong> <%= @evento.fecha %></p>
  <p><strong>Ubicación:</strong> <%= @evento.ubicacion %></p>
  <p><strong>Costo:</strong> <%= @evento.costo %></p>
</div>
