<div class="start-flex">
  <%= render @evento %>
  <div class="button-wrapper">
    <%= link_to 'Editar', edit_event_path(@evento), class:"btn btn-warning", style:"color:white" %>
    <%= button_to 'Eliminar Evento', @evento, method: :delete, class: 'btn btn-danger' %>
    <%= link_to 'Volver', events_path, class:"btn btn-secondary" %>
    <%= link_to 'Editar imagen', edit_image_event_path(@evento.id), class:"btn btn-warning", style:"color:white"  %>
    <%= button_to 'Eliminar imagen', delete_image_event_path(@evento), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
  </div>
</div>
