<div id="<%= dom_id planeadores_de_evento %>">
  <p>
    <strong>Titulo:</strong>
    <%= planeadores_de_evento.titulo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= planeadores_de_evento.descripcion %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= planeadores_de_evento.fecha %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= planeadores_de_evento.ubicacion %>
  </p>

  <p>
    <strong>Costo:</strong>
    <%= planeadores_de_evento.costo %>
  </p>

</div>
