<div class="start-flex form-wrapper">
  <h2 class="text-center">Iniciar Sesión</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, "Correo Electrónico" %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-group form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>
    <%= link_to "Olvidé mi contraseña", new_user_password_path %>
    <div class="actions">
      <%= f.submit "Iniciar Sesión", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
